# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

local.properties
.classpath
.settings/
.loadpath
.idea/compiler.xml
.idea/vcs.xml
.idea/workspace.xml
